/* COMMON DEFINITIONS */
body {
    background-image: url(assets/img/main_bg.png), linear-gradient(to right bottom, #2f3134, rgb(33, 35, 41), #2c292d, #232122, #2e2b2b);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

/* HEADER */
.header-item {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.header-item:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
}

/* INDEX PAGE */
.profile-pic {
    max-width: 280px;
}

.content-main-text-img {
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.content-main-text-img:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

.content-social-icon {
    font-size: 24px;
    color: white;
}

.content-social-icon:hover {
    color: rgba(236, 214, 196, 0.53);
}

/* PORTFOLIO PAGE */